/*html {

    background-color: lightgrey;
}

body {
    margin: 0 3%;

    background-color: #fff;
}
*/

thead{
    background-color: forestgreen;
    color:white;
}

img {
    border-radius: 15px;
}

.nbr-sm-logo {
    margin-left: -10px;
    margin-right: 25px;
    border-radius: 1px;

}
.agenda {
    height: 236px;
    margin-top: 38px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: #b45e52
}

.agenda>h2 {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    color: #fff;
}

.agenda ul {
    color: #b45e52;
    list-style-type: circle;

    background-color: #fff;
    /*margin-top: 10px;*/
    padding: 30px 30px 60px 30px;
    margin-left: 1px;
    margin-right: 1px;
    border-radius:15px;
    border-bottom: 3px solid black;
    list-style-type: circle;
}

th, td {
    text-align: center;
}

th{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

caption{
    font-size:1.2em;
    font-weight: bold;
    color: #000;
}



/*.container-fluid {
    background-color: #EFF1E3;
}
.headSection {
    background-color: #fff;
}*/
h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 2.0em;
}

#one, #two, #three, #four{
    margin-top: 30px;
    /*height: 350px;
    width: 230px;*/
    border-radius:15px;
    box-shadow: 0 0 5px #808688;
    height: 40vh;
}

#one {
    background-color: #61B2E4;
    color:#004367;
    border:1px solid #61B2E4;
}

#one h3, #two h3{
    border-bottom: 3px solid black;
    padding: 0 0 10px 0;
    font-size: 1.5em;
}

#one ul{
    color: #0e7db8;
}

#two {
    background-color: #a8d792;
    color: #186302;
    border: 1px solid #a8d792;
}


#two ul {
    color: #3b8625;
}

/*#three {
    background-color: #555e65;
    border: 1px solid #555e65;
    color: #d3d6d9;
}

#four {
    background-color: #b45e52;
    border: 1px solid #b45e52;
    color: #fff;
}*/

#one ul, #two ul {
    background-color: #fff;
    /*margin-top: 10px;*/
    padding: 20px 30px 80px 30px;
    margin-left: 1px;
    margin-right: 1px;
    border-radius:15px;
    border-bottom: 3px solid black;
    list-style-type: circle;
}

iframe {
    border: 1px solid black;
}

